{% extends "base.html" %}

{% block content %}
<h1>This is the about page</h1>
<p>this is another template</p>
<h3>{{ title|capfirst|title }}</h3>

<p> These are the context variable, {{ my_number }}  
</p>

{{ my_html|safe }} <!-- slugify, striptags-->

<ul>
{% for my_sub_item in my_list %}
    {% if my_sub_item == 122 %}
        <li>{{ forloop.counter }} - {{ my_sub_item|add:22 }}</li>
    {% else %}
        <li>{{ forloop.counter }} - {{ my_sub_item }}</li>
    {% endif %}
{% endfor %}
</ul>
{% endblock content%}